<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>
      <a routerLink="/">
        <app-logo></app-logo>
      </a>
    </h1>
    <span class="flexExpand"></span>
    <a mat-button routerLink="/home" title="Home">
      <mat-icon class="iconlarge" [inline]="true" title="home">home</mat-icon
      ></a
    >
    <a mat-button routerLink="/info" title="Info">
      <mat-icon class="iconlarge" [inline]="true" title="Info">help_outline</mat-icon
      >
    </a>
  </mat-toolbar-row>
</mat-toolbar>
