<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>
        <a routerLink="/"><img src="../assets/imgs/GFNLibrary.webp" alt="GFN Library" title="navbar_logo"></a>
      </h1>
      <span class="flexExpand"></span>
      <a mat-button routerLink="/" title="Home"> <mat-icon class="iconlarge" [inline]="true" title="home">home</mat-icon></a>
      <a mat-button routerLink="/" title="Info"> <mat-icon class="iconlarge" [inline]="true" title="Info">help_outline</mat-icon></a>
    </mat-toolbar-row>
  </mat-toolbar>