<mat-card class="info-card" style="text-align: center;">
    <mat-card-header>
        
        <mat-card-title>
            <ul>
                <li class="headingicon">
                    <mat-icon title="About GFN Library">help_outline</mat-icon>
                </li>
                <li class="heading">
                    About GFN Library
                </li>
            </ul>
        </mat-card-title>
        
    </mat-card-header>
    <mat-card-content>
        <p>
            This site is a real-time list of all the currently available games in GeForce Now, pulled from an updated source.  
            It was created and kept up so fellow gamers can see what is available before purchasing, or view if their game is 
            supported before buying it.
            <br><br>
            If the source file from Nvidia is not updated, this will not reflect that change.
        </p>
    </mat-card-content>
</mat-card>