.info-card {
    
    margin: 0 auto;
    width: 70%;

    mat-card-header {
        color: #76b900;

        ul {
            margin-left: -3em;
        }

        li {
            display: inline-block;  
        }

        .heading {
            font-size: 1.5em;
        }

        mat-icon {
            font-size: 2em;
            width: 1.25em;
            height: 1.25em;
            vertical-align: middle;
        }
    }

    p {
        text-align: left;
        font-size: 1.15em;
        font-weight: 200;
    }
}