/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content { 
    padding: 16px; 
  }
  
mat-card { 
    margin-left: 2%;
    margin-bottom: 2%;
  }

mat-card-content {
    min-height: 200px;
  }