@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  padding: 1.5em 0px 1.5em 0px;
  margin: 0 auto;
  width: 95%;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
