<div style="padding: 13px;">
    <div fxFlex="100%" *ngIf="arrGames.length === 0" style="text-align: center;">
        <mat-spinner ></mat-spinner>
    </div>
    <div class="content">
        <ul class="responsive-table" *ngFor="let product of arrGames;  let i=index;">
            <li class="table-header"  *ngIf="i<1">
              <div class="col col-1">Title</div>
              <div class="col col-2">Publisher</div>
              <div class="col col-3">GenreIcon</div>
              <div class="col col-4">Store</div>
            </li>
            <li class="table-row" *ngIf="i<1000">
                <div class="col col-1" data-label="Title" >{{product.title}}</div>
                <div class="col col-2" data-label="Publisher">{{product.publisher}}</div>
                <div class="col col-3" data-label="GenreIcon">
                  <img style="width:5%;" src="/assets/imgs/Action.png" title="Action" *ngIf="product.genres.includes('Action')"/>
                  <img style="width:5%;" src="/assets/imgs/Adventure.png" title="Adventure" *ngIf="product.genres.includes('Adventure')"/>
                  <img style="width:5%;" src="/assets/imgs/Casual.png" title="Casual" *ngIf="product.genres.includes('Casual')"/>
                  <img style="width:5%;" src="/assets/imgs/Family.png" title="Family" *ngIf="product.genres.includes('Family')"/>
                  <img style="width:5%;" src="/assets/imgs/FPS.png" title="FPS" *ngIf="product.genres.includes('First Person Shooter')"/>
                  <img style="width:5%;" src="/assets/imgs/Free2Play.png" title="Free To Play" *ngIf="product.genres.includes('Free To Play')"/>
                  <img style="width:5%;" src="/assets/imgs/Indie.png" title="Indie" *ngIf="product.genres.includes('Indie')"/>
                  <img style="width:5%;" src="/assets/imgs/MMO.png" title="MMO" *ngIf="product.genres.includes('Massively Multiplayer Online')"/>
                  <img style="width:5%;" src="/assets/imgs/Platformer.png" title="Platformer" *ngIf="product.genres.includes('Platformer')"/>
                  <img style="width:5%;" src="/assets/imgs/Racing.png" title="Racing" *ngIf="product.genres.includes('Racing')"/>
                  <img style="width:5%;" src="/assets/imgs/Roleplaying.png" title="Roleplaying" *ngIf="product.genres.includes('Role Playing')"/>
                  <img style="width:5%;" src="/assets/imgs/Simulation.png" title="Simulation" *ngIf="product.genres.includes('Simulation')"/>
                  <img style="width:5%;" src="/assets/imgs/Sports.png" title="Sports" *ngIf="product.genres.includes('Sports')"/>
                  <img style="width:5%;" src="/assets/imgs/Strategy.png" title="Strategy" *ngIf="product.genres.includes('Strategy')"/>
                  <img style="width:5%;" src="/assets/imgs/Tech.png" title="Tech" *ngIf="product.genres.includes('Tech Demo')"/>
                </div>
                <div class="col col-4" data-label="Store">
                  <a href="{{product.steamUrl}}" *ngIf="product.store == 'Steam'"><img style="width:8%;" src="/assets/imgs/steam.png" /></a>
                  <img style="width:8%;" src="/assets/imgs/Origin.png" *ngIf="product.store == 'Origin'"/>
                  <img style="width:8%;" src="/assets/imgs/Uplay.png" *ngIf="product.store == 'UPLAY'"/>
                  <img style="width:8%;" src="/assets/imgs/EpicGames.png" *ngIf="product.store == 'Epic'"/>
                  <span *ngIf="product.publisher == 'NCsoft Corp.'">NCsoft Launcher</span>
                  <span *ngIf="product.publisher == 'Riot Games, Inc.'">LoL Launcher</span>
                  <span *ngIf="product.publisher == 'Wargaming Group Limited'">Wargaming</span>
                  <span *ngIf="product.publisher == 'Bethesda Softworks' && product.store == ''">Bethesda Launcher</span>
                  <span *ngIf="product.publisher == 'Gaijin Entertainment'">WARTHUNDER</span>
                  <span *ngIf="product.publisher == 'DMM Games'">WARTHUNDER Japan</span>
                  <span *ngIf="product.publisher == 'Mail.ru Group' && product.store == ''"All>Warface Launcher</span>
                </div>
            </li>
          </ul>
    </div>
</div>