<div style="padding: 13px;">
    <div fxFlex="100%" *ngIf="arrGames.length === 0" style="text-align: center;">
        <mat-spinner ></mat-spinner>
    </div>
    <div class="content">
        <ul class="responsive-table" *ngFor="let product of arrGames;  let i=index;">
            <li class="table-header"  *ngIf="i<1">
              <div class="col col-1">Title</div>
              <div class="col col-2">Publisher</div>
              <div class="col col-3">GenreIcon</div>
              <div class="col col-4">Store</div>
            </li>
            <li class="table-row" *ngIf="i<1000">
                <div class="col col-1" data-label="Title" >{{product.title}}</div>
                <div class="col col-2" data-label="Publisher">{{product.publisher}}</div>
                <div class="col col-3" data-label="GenreIcon">
                  <img src="/assets/imgs/Action.webp" title="Action" alt="Action" *ngIf="product.genres.includes('Action')"/>
                  <img src="/assets/imgs/Adventure.webp" title="Adventure" alt="Adventure" *ngIf="product.genres.includes('Adventure')"/>
                  <img src="/assets/imgs/Casual.webp" title="Casual" alt="Casual" *ngIf="product.genres.includes('Casual')"/>
                  <img src="/assets/imgs/Family.webp" title="Family" alt="Family" *ngIf="product.genres.includes('Family')"/>
                  <img src="/assets/imgs/FPS.webp" title="FPS" alt="FPS" *ngIf="product.genres.includes('First Person Shooter')"/>
                  <img src="/assets/imgs/Free2Play.webp" title="Free To Play" alt="Free To Play" *ngIf="product.genres.includes('Free To Play')"/>
                  <img src="/assets/imgs/Indie.webp" title="Indie" alt="Indie" *ngIf="product.genres.includes('Indie')"/>
                  <img src="/assets/imgs/MMO.webp" title="MMO" alt="MMO" *ngIf="product.genres.includes('Massively Multiplayer Online')"/>
                  <img src="/assets/imgs/Platformer.webp" title="Platformer" alt="Platformer" *ngIf="product.genres.includes('Platformer')"/>
                  <img src="/assets/imgs/Racing.webp" title="Racing" alt="Racing" *ngIf="product.genres.includes('Racing')"/>
                  <img src="/assets/imgs/Roleplaying.webp" title="Roleplaying" alt="Roleplaying" *ngIf="product.genres.includes('Role Playing')"/>
                  <img src="/assets/imgs/Simulation.webp" title="Simulation" alt="Simulation" *ngIf="product.genres.includes('Simulation')"/>
                  <img src="/assets/imgs/Sports.webp" title="Sports" alt="Sports" *ngIf="product.genres.includes('Sports')"/>
                  <img src="/assets/imgs/Strategy.webp" title="Strategy" alt="Strategy" *ngIf="product.genres.includes('Strategy')"/>
                  <img src="/assets/imgs/Tech.webp" title="Tech" alt="Tech" *ngIf="product.genres.includes('Tech Demo')"/>
                </div>
                <div class="col col-4" data-label="Store">
                  <a href="{{product.steamUrl}}" title="Steam_{{product.sortName}}"*ngIf="product.store == 'Steam'"><img src="/assets/imgs/steam.webp" alt="Steam" title="Steam"/></a>
                  <img src="/assets/imgs/Origin.webp" *ngIf="product.store == 'Origin'" alt="Origin" title="Origin"/>
                  <img src="/assets/imgs/Uplay.webp" *ngIf="product.store == 'UPLAY'" alt="UPLAY" title="UPLAY"/>
                  <img src="/assets/imgs/EpicGames.webp" *ngIf="product.store == 'Epic'" alt="Epic" title="Epic"/>
                  <span *ngIf="product.publisher == 'NCsoft Corp.'">NCsoft Launcher</span>
                  <span *ngIf="product.publisher == 'Riot Games, Inc.'">LoL Launcher</span>
                  <span *ngIf="product.publisher == 'Wargaming Group Limited'">Wargaming</span>
                  <span *ngIf="product.publisher == 'Bethesda Softworks' && product.store == ''">Bethesda Launcher</span>
                  <span *ngIf="product.publisher == 'Gaijin Entertainment'">WARTHUNDER</span>
                  <span *ngIf="product.publisher == 'DMM Games'">WARTHUNDER Japan</span>
                  <span *ngIf="product.publisher == 'Mail.ru Group' && product.store == ''"All>Warface Launcher</span>
                </div>
            </li>
          </ul>
    </div>
</div>